<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>


<%= form_tag('/sessions', method: "POST") do %>
  <%= email_field_tag(:email, "",:placeholder => "EMAIL") %>
  <%= password_field_tag(:password_digest , "", :placeholder => "PASSWORD") %>
  <%= submit_tag("Login") %>
<% end %>