
<div class="form">
<p>Please Login</p>
<%= form_tag('/sessions', method: "POST") do %>
  <%= email_field_tag(:email, "",:placeholder => "EMAIL") %>
  <%= password_field_tag(:password_digest , "", :placeholder => "PASSWORD") %>
  <%= submit_tag("Login") %>
<% end %>
</div>
