<h1>Comments#new</h1>
<p>Find me in app/views/comments/new.html.erb</p>

<button class="close_comment close_blog_comment">CLOSE COMMENT BOX</button>
<h1>CREATE A NEW COMMENT</h1>

<%= form_for @comment do |f| %>
<%= f.text_field :text, placeholder: "Enter Comment Here ..." %>
<%= f.submit %>
<% end %>
