


<h1>Contact Us</h1>

<p>THIS WILL BE FORM BUT WE NEED TO CONNECT FORM TO CONTROLLERS</p>

<h1>FAQs</h1>
<h4>1. How to use key commands for navigating the site?</h4>
  <h5>1- Control + h = home page <br>
      2- Control + c = community page<br>
      3- Control + p = profile page <br>
      4- Control + o = contact
      5- Control + u = students list <br>
      6- Control + t = staff list <br>
      7- Control + l = logout
  </h5>
  <h5>2. For furthure questions, please contact admin here: <a href="">Contact</a>
  </h5>




<h3> KEY COMMANDS </h3>
<h3> FACTS / FAQS</h3>
<h4> HOW TO NAVIGATE SITES</h4>
<h5> extra possibility: dropdown on key commands</h5>
<h4> Other issues ..... contact admin</h4>
<a name="help"></a>
