<h1> this is the contact form which will be moved later</h1>
<h3> RE line </h3>
<h3> Text area message for the ADMIN</h3>


<h1> HELP PAGE STUFF BELOW</h1>

<h3> KEY COMMANDS </h3>
<h3> FACTS / FAQS</h3>
<h4> HOW TO NAVIGATE SITES</h4>
<h5> extra possibility: dropdown on key commands</h5>
<h4> Other issues ..... contact admin</h4>