<h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p>

<h1>THIS IS THE PROFILE PAGE FOR USER</h1>

<h2> PICTURE </h2>

<%= "#{@user.fname} #{@user.lname}" %>'s Profile
EMAIL: <%= @user.email %>

<% if @user.avatar.present? %>
<%= image_tag @user.avatar.url(:thumb) %>
<% else %>
<h4>Missing Pic</h4>
<% end %>

name
email
username
class taking



followers