<h1>Community#index</h1>
<p>Find me in app/views/community/index.html.erb</p>

<h1>LIST ALL COMMUNITY POSTS</h1>

<% if @communities %>
	<ul>
		<% @communities.reverse.each do |community| %>
			<li>
			<%= community.title %>
			<%= community.text %>
<!-- 	<%= image_tag @user.avatar.url(:thumb) %> -->
			<a href ="#">COMMENT</a>
			</li>
		<% end %>
	</ul>
<% end %>

