/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/

html {
	height: 100%;
}

body {
	position: relative;
	padding-bottom: 4rem;
	min-height: 100%;
	width: 900px;
	margin: 0px auto;
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
}

.banner {
	width: 900px;
	height: 170px;
	display: inline-block;
	border-radius: 10px;
	/*border-color: red;
	border-width: 2px;
	border-style: solid;*/
	/*background-image: url(logo2white.png); */
	background-image: url(logo2gray.png);
	background-repeat: none;
}

.create_community {
	margin-top: 5px;
}

.loginout {
	float: right;
	margin-top: 5px;
}

a {
	list-style-type: none;
	text-decoration: none;
	color: white;
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #369;
	border-radius: 10px;
	height: 100%;
}

button {
	float: right;
}

.clearfix {
	margin-top: 10px;
}
.clearfix:after {
	display: block;
	clear: both;
	content: "";
	margin: 0 auto;
	max-width: 700px;
	width: 90%;
}

section {
	margin: 0 auto;
	float: center;
	max-width: 900px;
	width: 90%;
	padding-left: 0px;
}

section ul li {
	word-wrap: break-word;
	width: 620px;
	padding-top: 20px;
}

section ul .student li a.student_link {
	width: 784px;
	padding-left: 15px;
}

section ul .staff_div li a.staff_link {
	width: 784px;
	padding-left: 15px;
}

nav {
	height: 300px;
	position: fixed;
	float: left;
	display: inline-block;
	width: 0px;
	border-radius: 10px;
	border-color: red;
	display: block;
}

nav ul {
	list-style-type: none;
}

nav ul li {
	padding-bottom: 20px;
	text-decoration: none;
	height: 100%;
}

nav ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #369;
	border-radius: 10px;
	height: 100%;
}

.create_post { /*CREATE POST COLOR***/
	/*margin-right: 40px;*/
	position: absolute;
	margin-left: 30%;
	margin-top: -22px;
	background-color:#369;
	width: 500px;
	color: #fff;
}

.grayzone {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
}

.modal {
	width: 500px;
	height: 500px;
	padding: 15px;
	padding-left: 30px;
	background-color: white;
	margin: 0 auto;
	opacity: 1.0;
	border-radius: 10px;
}

.hidden {
	display: none;
}

h1 {
	margin: 0px;
	text-align: center;
}

.form {
	margin-top: 150px;
	width: 300px;
	border-style: inset;
	border-radius: 10px;
	text-align: center;
	margin: auto;
}

.terms {
	padding: 5px 5px 5px 5px;
	width: 400px;
	color: blue;
	margin: 0 auto;
}

.terms2 {
	color: blue;
	font-size: 14px;
	padding: 0px 0px 0px 480px;
	width: 400px;
	text-decoration: none;
}
footer {
	text-align: center;
	background-color: #369 ;
	height: 5px;
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	padding: 1rem;
}

.allposts {
	font-size: 16px;
	border-radius: 10px;
	border-style: solid;
	margin: auto 0px;
	margin-top: 20px;
}

.allposts ul {
	list-style-type: none;
	text-align: center;
	padding: 0;
	margin: 0px auto;
}

.allposts ul li {
  display: block;
  list-style-type: none;
  text-align: left;
}

.allposts li a {
  text-decoration: none;
  list-style-type: none;
  padding: .1em 1em;
  color: #fff;
  background-color: #036;
  width: 772px;
  text-align: center;
}

.allposts li a:hover {
  color: #fff;
  background-color: #369;
}

.notice{
  background: blue;
  padding: 10px 15px;
  border-radius: 3px;
}
.alert{
  background: red;
  padding: 10px 15px;
  border-radius: 3px;
}


/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 90px;
/*  margin: moves menu tag*/
  margin: -70px;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}

#toggle span:after{
  top: 9px;
}

#toggle span {
  position: relative;
  display: block;
}

#toggle span {  /* sideways MENU text */
	margin-top: 34px;
	margin-left: 2px;
	letter-spacing: 3px;
	-webkit-transform: rotate(-90deg);
	display:inline-block;
}

#toggle.on + #menu {
  display: block;
}

/* menu appearance*/
#menu {
  position: relative;
/*  color: #999;*/
  width: 200px;
  padding: 10px;
  margin: auto;
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: white;
	display:none; /* makes menu disappear */
}

#menu:after {
/*	visibility: collapse;*/
  position: absolute;
  top: -15px;
  left: 95px;
  content: "";
  display: block;
}

ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}

li a:hover,
li a:focus {
  background: #1ABC9C  ;
  color: #fff;
}
