/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
	height: 100%;
}

body {
	height: 100%;
}

button {
	float: right;
}

#menu {
	float: left;
	display: inline-block2;
	width: 200px;
	height: 100%;
	border-radius: 10px;
}

#menu ul {
	list-style-type: none;
	height: 100%;
}

#menu ul li {
	padding-bottom: 20px;
	text-decoration: none;
	height: 100%;
}

#menu ul li a {
	text-decoration: none;
	padding: .2em 1em;
	color: #fff;
	background-color: #369;
	border-radius: 10px;
	height: 100%;
}

.grayzone {
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
}

.modal {
	width: 500px;
	height: 500px;
	background-color: white;
	margin: 0 auto;
	opacity: 1.0;
}

.hidden {
/*	visibility: hidden;*/
	display: none;
}

