.title > input {
  width: 90%;
  height: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.text_field {
  margin-top: 10px;
  width: 95%;
  font-size: 20px;
}

.text_field > input {
  height: 400px;
}

.allposts .post {
  list-style-type: none;
}