.title {
  text-align: center;
}

.title > input {
  width: 90%;
  height: 20px;
  margin-top: 10px;
  font-size: 20px;
}

.title > input:focus {
  border: 2px solid #333;
  outline: none;
}

.post_title {
  margin-left: -13px;
}

.post_title:focus {
  border: 2px solid #333;
  outline: none;
}

.post_text_field {
  height: 330px;
  margin-top: 10px;
  width: 90%;
  font-size: 20px;
  margin-left: 15px;
  border: 1px solid #bbb;
}

.post_text_field:focus {
  border: 1px solid #333;
  outline: none;
}

.post_button {
  font-size: 16px;
  border: 2px solid #bbb;
  color: #888;
  height: 25px;
  background: white;
  margin-top: 10px;
  margin-left: 190px;
}

.text_field_message {
  height: 100px;
  margin-top: 10px;
  width: 90%;
  font-size: 20px;
  margin-left: 38px;

  border: 1px solid #bbb;
}

.allposts .post {
  list-style-type: none;
}

.comment_for_post span {
  color: gray;
  margin-left: 10px;
  font-style: italic;
}

.submit_post {
  text-align: center;
}

.submit_post > input{
  background: #2c7c8d;
  color: white;
  font-size: 20px;
  letter-spacing: 2px;
  cursor: pointer;
}

.send_admin {
  font-size: 16px;
  border: 2px solid #bbb;
  color: #888;
  height: 25px;
  background: white;
  margin-top: 10px;
  margin-left: 38px;
}